body
{
background: #ffffff;
color: #000000;
text-align: center;
margin: 0px;
padding: 10px 10px;
}
body, td, th, textarea, input, select, h2, h3, h4, h5, h6 
{
font-weight: normal;
font-family: arial,helvetica,verdana,sans-serif;
}
table
{
border: 1px solid #000000;
border-collapse: collapse;
}
th, td
{
padding: 2px 2px;
border: 1px solid #a0a0a0;
font-size: 10pt;
}
a:visited
{
color: #105CB6;
}
a:hover, a:focus
{
color: #000033;
}
a:active
{
color: #000000;
}
.colname
{
font-weight: bold;
}
.tablename
{
font-weight: bold;
font-size: 12pt;
text-align: center;
}
.none
{
}
.waiting
{
background-color: #cccccc;
}
.running
{
background-color: #99ffff;
}
.retry
{
background-color: #d33682;
}
.preempted
{
background-color: #888888;
}
.completed
{ background-color: #99ff99; }
.running { background-color: #ffaaaa; }
.failed { background-color: #ff7777; }
.timeout { background-color: #ee99ee; }
.infra_error { background-color: #ffaaaa; }
.cancelled { background-color: #dddddd; }
.aborted { background-color: #dddddd; }
.batch_separator { background-color: #eeeeee; }


/* Line 1 */
button, input, select, textarea
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

/* Line 1 */
button, input, select, textarea
{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Line 1 */
button, input, select[multiple], textarea
{
  background-image: none;
}
/* Line 1 */
button, input, select, textarea
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

/* Line 1 */
.border-box, .border-box *, .border-box *:after, .border-box *:before, .border-box:after, .border-box:before
{
  box-sizing: border-box;
}

/* Line 1 */
.search-form-input
{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #d4d4d4;
  border-bottom-color: #d4d4d4;
  border-left-color-value: #d4d4d4;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-right-width-value: 0px;
  border-right-style-value: none;
  float: left;
  font-size: 1.57143em;
  height: 2.90909em;
  max-width: 660px;
  padding-top: 0.772727em;
  padding-right: 1.04545em;
  padding-bottom: 0.818182em;
  padding-left: 1.04545em;
  vertical-align: middle;
  width: 78.5714%;
}
/* Line 1 */
.border-box, .border-box *, .border-box *:after, .border-box *:before, .border-box:after, .border-box:before
{
  box-sizing: border-box;
}

/* Line 1 */
.clearfix
{
}
.submitbtn {
    float: right;
    left: 55%;
    max-width: 350px;
}

